/* Fix Instagram embed before the JS is applied  */
blockquote.instagram-media,
blockquote.instagram-media-registered {
    &:before,
    &:after {
        display: none;
    }
}

.instagram-media,
.instagram-media-registered {
    box-shadow: none !important;
    border-radius: 0 !important;

    border-width: 1px !important;
    border-style: solid !important;
    border-color: #e6e6e6 !important;
}

.instagram-media{position: inherit !important;}
