.mc4wp-form {
    label {
        display: block;
    }
}

.g1-newsletter {
    @if ( 'miami' == $stack ) {
        margin-bottom: 60px;
    } @else {
        margin-bottom: 30px;
    }

    text-align: center;

    label {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        width: 1px;
        height: 1px;
        overflow: hidden;
    }

    [type=text],
    [type=email],
    [type=submit],
    select {
        width: 100%;

        text-align: center;
    }

    [type=text]:focus,
    [type=email]:focus,
    select:focus {
        text-align: #{$left};
    }

    @if ( 'bunchy' == $stack ) {
        .g1-box-icon{
            display:none;
        }
    }

    .mc4wp-form-fields {
        p {
            margin-bottom: 0.75em;
        }
    }
}

.g1-newsletter-icon {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto 15px;

    position: relative;

    text-align: center;

    border-radius: 50%;

    background-color: #1a1a1a;
    color: #fff;

    &:before {
        display: block;
        margin-top: -0.5em;

        position: absolute;
        #{$left}: 0;
        #{$right}: 0;
        top: 50%;

        font: 32px/1 bimber;

        content: "\e012";
    }
}

.g1-newsletter-privacy {
    margin-top: -0.25em;

    @include if-not-stack( 'miami' ) {
        opacity: 0.666;
    }
}



.g1-newsletter-horizontal {
    margin: 3em auto;

    .g1-collection-item & {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .g1-mega + .g1-delta,
    .g1-alpha + .g1-delta {
        margin-top: -1.5rem;
    }
}

.g1-newsletter-avatar{
	position: relative;
	display: block;
	margin-bottom: 20px;
	img{
		max-width: 80px;
		@include border-radius(128px);
	}
}

@media only screen and ( min-width: 481px ) {
    .g1-newsletter-horizontal {
        .mc4wp-form-fields {
            @include display(flex);
            @include flex-wrap(wrap);

            max-width: 561px;
            margin-#{$left}: auto;
            margin-#{$right}: auto;

            input[type=email] {
                text-align: $left;
            }

            p {
                display: inline-block;
                vertical-align: top;
                margin-#{$left}: 5px;
                margin-#{$right}: 5px;
            }

            p:first-child {
                @include flex(1 1 auto);
            }
        }
    }
}


.g1-newsletter-after-post-content {
    max-width: $grid_2of3_width;
    margin-#{$left}: auto;
    margin-#{$right}: auto;
}


.g1-newsletter-as-row {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}