/**
 * MashShare LTR | RTL
 */
.mashsb-count {
    float: #{$left};
}

[class*=" mashicon-"] .icon::before,
[class^="mashicon-"] .icon::before {
    margin-#{$right}: 0;

    @media only screen and ( min-width: $mobile_breakpoint + 1px ) {
        & {
            margin-#{$right}: 0.7em;
        }
    }
}




/**
 * Change the yellow subscribe icon
 */
.mashicon-subscribe {
    border-color: #808080;
    background-color: #808080;

    .icon,
    .text {
        color: #fff;
    }
}

/* Change the yellow subscribe icon */
.mashsb-toggle-container {
    position: relative;
    margin-top: 15px;
    padding: 1.5rem 1.5rem 0;
    border-width: 0;
    border-color: currentColor;

    &:before {
        display: block;
        position: absolute;
        z-index: -1;
        #{$left}: 0;
        #{$right}: 0;
        top: 0;
        bottom: 0;

        border-width: 6px;
        border-style: solid;

        content: "";

        opacity: 0.1667;
    }

    &:after {
        display: block;
        overflow: hidden;
        height: 0;
        margin-top: 1.5rem;

        content: " ";
    }
}


.onoffswitch,
.onoffswitch2 {
    position: relative;

    text-align: center;

    &:before {
        display: block;
        margin-top: -0.5em;

        position: absolute;
        #{$left}: 0;
        #{$right}: 0;
        top: 50%;
    }
}

// Change the "+" icon
.onoffswitch:before {
    font: 32px/1 bimber;

    content: "\e01f";
}

// Change the "-" icon
.onoffswitch2:before {
    font: 24px/1 bimber;

    content: "\e01b";
}


// Medium size
.mashsb-box .mashsb-buttons a.mash-medium {
    padding-top: 12px;
    padding-bottom: 12px;

    line-height: 16px;
}

.onoffswitch.mash-medium,
.onoffswitch2.mash-medium {
    width: 40px;
    height: 40px;
}


.mashsb-box {
    .text {
        font-family: $important_font_family;
        font-weight: 500;
        letter-spacing: -0.025em;
    }
}

.mashsbcount,
.mashpv .count {
    letter-spacing: -0.05em;
}


.mashsb-count {
    margin-top: $mash_gutter;
    margin-#{$right}: 15px;
}

.mashsb-buttons .mashsb-count {
    margin-#{$right}: 0;
    margin-#{$left}: 15px;
}

.mashsb-buttons .mashsb-count:first-child {
    margin-#{$right}: 15px;
    margin-#{$left}: 0;
}

.mashsb-sharetext {
    font-family: $meta_font_family;
    font-weight: 300;
}


.mashsb-main {
    max-width: $grid_2of3_width;
    margin-#{$left}: auto;
    margin-#{$right}: auto;
    padding-top: 12px;
    padding-bottom: 24px;
    @if ( 'bunchy' == $stack ) {
        border-width: 0;
    } @else {
        border-width: 1px 0 0;
    }
    border-style: solid;

    border-color: $skin_border_color;

    .mashsbcount,
    .mashpv .count {
        font-size: 36px;
        line-height: 1;
        font-family: $important_font_family;
        font-weight: 700;
        letter-spacing: -0.05em;
    }

    .mashsb-sharetext {
        display: block;
        //margin-top: 0.5em;
        font-size: 13px;
        line-height: 1;
        font-family: $meta_font_family;
        font-weight: 300;
    }
}




.mashsb-buttons {
    // Clearfix
    &:after {
        display: table;
        clear: both;
        content: "";
    }

    a {
        @include border-radius( $ui_border_radius );
    }

    .onoffswitch,
    .onoffswitch2 {
        border-color: $skin_border_color;
        background-color: $skin_border_color;
        color: $skin_meta_text_color;

        @include border-radius( $ui_border_radius );

        &:before {
            font-weight: normal;
        }
    }
}

.mashsb-box {
    .mashsb-buttons {
        margin-top: -$mash_gutter;

        a,
        .onoffswitch,
        .onoffswitch2 {
            margin: side-values( $mash_gutter 0 0 $mash_gutter );
        }
    }
}


@media only screen and ( min-width: $mobile_breakpoint + 1px ) {
    .mashsb-main {
        .mashsbcount,
        .mashpv .count {
            font-size: 42px;
            line-height: 42px;
        }
    }
}

@media only screen and ( min-width: 1025px ) {
    .mashsb-main {
        .mashsbcount,
        .mashpv .count {
            @if ( 'original-2018' == $stack ) {
                font-size: 42px;
                line-height: 42px;
            } @else if ( 'app' == $stack ) {
                font-size: 40px;
                line-height: 32px
            } @else {
                font-size: 56px;
                line-height: 42px;
            }

        }
    }
}

/* networks addon fix */
.secondary-shares a{
    display:unset !important;
}

@import "components.mashshare/micro";
@import "components.mashshare/compact";
@import "components.mashshare/side";