.archive-icon {
    float: $left;
    margin-#{$right}: 20px;
}

.archive-body {
    @if 'cards' == $stack {
        > .g1-row-background {
            background-color: #ededed !important;
        }
    }
}

.archive-body-stream {
    text-align: center;

    > .g1-row-inner {
        > .g1-column {
            text-align: $left;
        }
    }
}



body.tag {
    .archive-title {
        &:before {
            content: "#";
        }
    }
}