.g1-form-s {
    [type=text],
    [type=search] {
        font-size: 13px;
        height: 32px;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    button {
        height: 32px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
}
