.g1-primary-nav {
    margin-bottom: 1.5rem;
    //z-index: 0;
}

.g1-primary-nav-menu {
    margin: 0;
    list-style: none;

    > .menu-item {
        display: block;
        font-size: 1rem;
        text-align: $left;

        > a {
            display: block;
            padding: 4px 0;

            font-size: $menu_font_size;
            line-height: 1;
            font-family: $menu_font_family;
            font-weight: $menu_font_weight;

            text-transform: $menu_text_transform;
            letter-spacing: $menu_letter_spacing;

            > strong {
                position: relative;
                top: 0.0833em;

                font-size: 1.5em;
                line-height: 0.01em;
                font-family: if-stack( 'miami', #{"Rubik", sans-serif}, inherit );
                font-weight: if-stack( 'miami', 500, inherit );
                letter-spacing: -0.05em;
            }
        }
    }

    > .menu-item-object-post_tag {
        > a {
            text-transform: none !important;
            font-weight: 400 !important;

            &:before {
                font-weight: 700;

                content: "#";
            }
        }
    }
}

@if ( 'music' == $stack ) {
    .g1-body-inner {
        .g1-primary-nav-menu {
            > .menu-item {
                > a:before {
                    display: block;
                    width: 100%;
                    border-width: 2px 0 0;

                    position: absolute;
                    z-index: 1;
                    bottom: 0;
                    #{$left}: 0;
                    #{$right}: 0;

                    border-style: solid;

                    content: "";

                    border-color: transparent;

                    opacity: 0.5;
                }

            }

            > .current-menu-item {
                > a:before {
                    border-color: currentColor;
                }
            }
        }
    }
}