@if ( 'bunchy' != $stack ) {
        
    $_arrow_height: 80px;
    $_arrow_helper_size: 60px;

    .g1-arrow {
        display: block;
        @include box-sizing( border-box );
        padding: 0 20px;
        border-width: 0;

        @include display(flex);
        @include flex-wrap(wrap);
        @include align-items(center);
        @include justify-content(center);

        height: 60px;
        margin-#{$left}: auto;
        margin-#{$right}: 25px;

        position: relative;

        @if ( 'hardcore' != $stack ) {
            border-radius: 6px 9px 9px 6px;
        }

        font-size: $button_xl_font_size;
        line-height: 1;
        font-family: $button_font_family;
        font-weight: $button_font_weight;
        letter-spacing: $button_letter_spacing;
        text-transform: $button_text_transform;

        text-decoration: none;
        text-align: center;

        border-color: $skin_border_color;
        background-color: $skin_border_color;
        color: #333;

        &:before {
            display: block;
            width: 0;
            height: 2px;

            @if ( 'hardcore' == $stack ) {
                border-width: 27px 20px;
            } @else {
                border-width: 25px 20px;
            }

            margin-#{$left}: -1px;
            margin-#{$right}: 0;

            position: absolute;
            #{$left}: 100%;
            #{$right}: auto;

            @if ( 'hardcore' == $stack ) {
                top: 0;
            } @else {
                top: 4px;
            }

            border-style: solid;

            border-color: inherit;
            border-top-color: transparent;
            border-#{$right}-color: transparent;
            border-bottom-color: transparent;

            content: "";
        }
    }

    .g1-arrow-left {
        margin-#{$left}: 25px;
        margin-#{$right}: auto;


        @if ( 'hardcore' != $stack ) {
            border-radius: 6px 9px 9px 6px;
        }

        &:before {
            #{$left}: auto;
            #{$right}: 100%;
            margin-#{$right}: -1px;
            margin-#{$left}: 0;

            border-color: inherit;
            border-top-color: transparent;
            border-#{$left}-color: transparent;
            border-bottom-color: transparent;
        }
    }

    .g1-arrow-xl {
        height: 80px;

        &:before {
            @if ( 'hardcore' == $stack ) {
                border-width: 39px 20px;
            } @else {
                border-width: 35px 20px;
            }
        }
    }



    a.g1-arrow {
        &:hover {
            box-shadow: 0 3px 6px -3px rgba(0,0,0, 0.333);
        }
    }

    span.g1-arrow-simple {
        color: #999;
    }

    .g1-arrow-disabled {
        pointer-events: none;
        opacity: 0.5;
    }

}
