@if ( variable-exists(is_amp) ) {
    /* =Button */
    [type=submit],
    [type=reset],
    [type=button],
    button,
    .g1-button {
        @include box-sizing( border-box );
        display: inline-block;
        position: relative;
        z-index: 0;
        margin-#{$right}: 0.2px; /*IE8 inline-block fix*/

        text-decoration: none;
        text-align: center;
        vertical-align: middle;
        zoom: 1;
        cursor: pointer;

        font-size: $button_m_font_size;
        line-height: 22px;
        font-family: $button_font_family;
        font-weight: $button_font_weight;
        text-transform: $button_text_transform;
        letter-spacing: $button_letter_spacing;

        &:hover {
            box-shadow: 0 3px 6px -3px rgba(0,0,0, 0.333);
        }

        &:active {
            box-shadow: inset 0 3px 6px -3px rgba(0,0,0, 0.333);
        }

        &:disabled{
            filter: grayscale(100%);
            opacity: 0.333;
            box-shadow: none;
        }

        @include border-radius( $button_border_radius );

        @include transition(border-color 0.175s ease-in-out, background-color 0.175s ease-in-out, color 0.175s ease-in-out, padding 0.175s ease-in-out);
    }



    /* Extra small buttons */
    .g1-button-xs {
        padding: 0px 9px;
        border-width: 1px;
        line-height: 19px;
        font-size: $button_xs_font_size;
    }


    /* Small buttons */
    .g1-button-s {
        padding: 3px 19px;
        border-width: 1px;

        font-size: $button_s_font_size;
    }

    /* Medium buttons */
    .g1-button-m {
        padding: 7px 28px;
        border-width: 2px;
    }

    /* Large buttons */
    .g1-button-l {
        padding: 13px 37px;
        border-width: 2px;

        font-size: $button_l_font_size;
        line-height: 18px;
    }

    /* Extra large buttons */
    .g1-button-xl {
        padding: 16px 37px;
        border-width: 3px;

        font-size: $button_xl_font_size;
        line-height: 22px;
    }

    /* Wide buttons */
    .g1-button-wide {
        display: block;
    }

    .g1-button-simple {
        border-color: $skin_important_text_color;
        background-color: transparent;
        color: $skin_important_text_color;
    }

    .g1-button-subtle{
        border-color: $skin_background_tone_color;
        background-color: $skin_background_tone_color;
        color: $skin_important_text_color;
    }
}
