// Default z-indexes
.g1-hb-row-3 { z-index:55; }
.g1-hb-row-2 { z-index:60; }
.g1-hb-row-1 { z-index:65; }

.g1-hb-row .g1-column{
    width:100%;
    @include display(flex);
    @include flex-wrap(nowrap);
    @include justify-content(space-between);
    @include align-items(center);
}

.g1-hb-full .g1-row-inner{
    max-width:100%;
}
.g1-hb-shadow-on{
    @include box-shadow( 0 0 10px rgba(0,0,0, 0.15) );
}


.g1-bin{
    @include display(flex);
    @include align-items(center);
}

.g1-bin-align-left{
    @include justify-content(flex-start);
}

.g1-bin-align-center{
    @include justify-content(center);
}

.g1-bin-align-right{
    @include justify-content(flex-end);
}

.g1-bin-grow-on{
    @include flex(1);
}

.g1-bin-grow-off{
    @include flex(0 0 auto);
}

.g1-hb-row {
    .g1-id{
        margin:0;
    }
}

// Margins depend on the container
.g1-bin-1 {
    .g1-primary-nav,
    .g1-secondary-nav,
    .g1-quick-nav,
    .g1-id,
    .g1-hb-search-form,
    .g1-socials-hb-list,
    .snax-button-create,
    .wpml-ls {
        margin-#{$right}: $header_elements_spacing_base * 2;
        margin-#{$left}: 0px;
    }
    .g1-hamburger,
    .g1-drop {
        margin-#{$right}: $header_elements_spacing_base;
        margin-#{$left}: 0px;
    }
}

.g1-bin-2 {
    .g1-primary-nav,
    .g1-secondary-nav,
    .g1-quick-nav,
    .g1-id,
    .g1-hb-search-form,
    .g1-socials-hb-list,
    .snax-button-create,
    .wpml-ls {
        margin-#{$right}: $header_elements_spacing_base;
        margin-#{$left}: $header_elements_spacing_base;
    }
    .g1-hamburger,
    .g1-drop {
        margin-#{$right}: $header_elements_spacing_base / 2;
        margin-#{$left}: $header_elements_spacing_base / 2;
    }
}

.g1-bin-3 {
    .g1-primary-nav,
    .g1-secondary-nav,
    .g1-quick-nav,
    .g1-id,
    .g1-hb-search-form,
    .g1-socials-hb-list,
    .snax-button-create,
    .wpml-ls {
        margin-#{$right}: 0px;
        margin-#{$left}: 20px;
    }
    .g1-hamburger,
    .g1-drop {
        margin-#{$right}: 0px;
        margin-#{$left}: 10px;
    }
}





// Hide desktop header on smaller screens.
.g1-hb-row-normal{
    display: none;
}

@media only screen and (min-width: 1025px){
    .g1-hb-row-mobile{
        display: none;
    }
    .g1-hb-row-normal{
        display: block;
    }
}

.g1-hb-row-mobile {
    .g1-helper {
        display: none;
    }
    .g1-id,
    .g1-logo-small-wrapper {
        max-width: calc(100% - 100px);
        margin-#{$left}: auto;
        margin-#{$right}: auto;
        text-align: center;
    }

    .g1-quick-nav{
        width: 100%;
    }
    .g1-quick-nav-top{
        width: auto;
    }
}

#g1-hb-preview-elements,
#g1-hb-preview-elements-canvas{
    display:none;
}

.g1-hb-row {
    .g1-drop-content .g1-socials-items-tpl-grid{
        display:block;
    }
    .snax-button-create{
        @include align-self(center);
    }

    .g1-hb-search-form{
        margin-top:6px;
        margin-bottom:6px;
    }

    .g1-dropable .g1-bin-1{
        .g1-drop-content{
            #{$left}: 0;
            #{$right}: auto;
        }
    }
    .g1-dropable .g1-bin-2,
    .g1-dropable .g1-bin-3{
        .g1-drop-content{
            #{$left}: auto;
            #{$right}: 0;
        }
    }
}

.g1-hb-search-form .search-form{
    margin-bottom: 0px;
}



.g1-socials-s {
    .g1-socials-item-icon-48{
        font-size: 14px;
        height:auto;
        width:32px;
        line-height: inherit;
    }
}
