$_centered: 'music' == $stack;

.entry-tpl-index {
    @if ( 'cards' == $stack ) {
        margin-bottom: 10px;

        background-color: $skin_background_color;
        box-shadow: 0 1px 1px #ededed;
    } @else {
        margin-bottom: 60px;
    }

    @if ( $_centered ) {
        .entry-header {
            text-align: center;
        }
    }

    .entry-flags {
        margin-bottom: 10px;
    }

    .entry-featured-media {
        margin-bottom: 10px;
    }

    .g1-button {
        float: $right;
        margin-bottom: 15px;
    }

    .entry-stats,
    .entry-categories {
        margin-bottom: 1rem;
    }

    .entry-footer {
        @include display(flex);
        @include flex-wrap(wrap);
        @include align-items(center);
        @include justify-content(space-between);

        .mashsb-mini {
            margin-bottom: 1.5rem;
        }
    }
}


@if ( 'cards' == $stack ) {
    .entry-tpl-index {

        > .entry-header {
            padding: side-values(30px 10px 0 10px);
        }

        > .entry-summary {
            padding: 30px 10px;
        }

        > footer {
            padding: 0 10px;
        }
    }

    @media only screen and ( min-width: 1025px ) {
        .entry-tpl-index {
            > .entry-header,
            > .entry-summary,
            > footer {
                padding-#{$left}: 30px;
                padding-#{$right}: 30px;
            }
        }
    }
}



