/**
 * List template
 */
.entry-tpl-otxtlist {
    @include display(flex);
    @include flex-wrap(wrap);
    @include align-items(center);
    //width: 100%;
    //margin-#{$left}: 70px;

    position: relative;

    @if ( 'cards' == $stack ) {
        margin-bottom: 10px;

        background: $skin_background_color;
        box-shadow: 0 1px 1px #ededed;
    }

    counter-increment: g1-collection-item-counter;

    // Clearfix.
    &:after {
        display: table;
        clear: both;
        content: "";
    }

    .entry-featured-media {
        width: 100%;
    }

    .entry-counter {
        @include align-self(flex-start);
        margin-#{$right}: 15px;
        margin-bottom: 10px;

        position: static;

        line-height: 40px;

        &:before {
            width: 40px;
            height: 40px;
        }
    }


    .entry-flags {
        margin: 0 0 10px;
        position: absolute;
        z-index: 12;

        @if ( 'bunchy' == $stack ) {
            clear: $left;
            float: $left;
            max-width: 364px;
            width: 50%;
            padding: 0 10px;

            top: 10px;
            #{$left}: auto;
            #{$right}: 0;
        } @else if ( 'fashion' == $stack ) {
            padding: 0 10px;
            top: 10px;
            #{$left}: 0;
            #{$right}: auto;
        } @else if ( 'carmania' == $stack or 'fashion' == $stack or 'app' == $stack ) {
            top: 0;
            #{$left}: 0;
            #{$right}: auto;
        } @else if ( 'miami' == $stack or 'hardcore' == $stack or 'music' == $stack ) {
            top: 0;
            #{$left}: 0;
            #{$right}: auto;
        } @else{
            padding: 0 10px;

            top: -10px;
            #{$left}: 0;
            #{$right}: auto;
        }
    }

    .entry-flags:first-child {
        position: relative;
    }

    .entry-body {
        @include flex(1 0 99px); // Trick

        @if ( 'cards' == $stack ) {
            padding: 0 10px 1px;
            background-color: $skin_background_color;
        }
    }

    .entry-stats,
    .entry-categories {
        margin-bottom: 0.5rem;
    }

    .entry-title {
        margin-bottom: 10px;
    }

    .g1-button {
        float: $right;
        margin-bottom: 15px;
    }
}

// Grid on smaller screens.
@media only screen and ( max-width: 600px ) {
    .entry-tpl-otxtlist {
        .entry-header {
            position: relative;
        }

        .entry-featured-media ~ .entry-body .entry-header .entry-before-title {
            position: absolute;

            #{$left}: if-stack( 'cards', -10px, 0 );
            #{$right}: auto;
            bottom: 100%;

            @if ( 'cards' == $stack ) {
                padding-#{$left}: 10px;
                background-color: $skin_background_color;
            }
        }
    }
}

// Switch to list on bigger screens.
@media only screen and ( min-width: 601px ) {
    .entry-tpl-otxtlist {
        position: relative;

        .entry-featured-media {
            @include order(2);

            float: #{$left};
            width: 120px;
            margin: if-stack('cards', 0, side-values( 0 15px 0.75rem 0 ) );
        }

        @if ( 'top' == $badge_position ) {
            .entry-flags {
                margin-top: 0;

                position: absolute;
                #{$left}: 0;
                #{$right}: auto;
            }
        } @else {
            .entry-flags {
                margin-top: 0;

                position: absolute;
                #{$left}: 0;
                #{$right}: auto;

                @include translateY(0);
            }
        }

        .entry-counter {
            @include order(1);
        }

        .entry-body {
            @include order(3);

            @if ( 'cards' == $stack ) {
                padding-top: 15px;
                padding-bottom: 10px;
            }

            overflow: hidden;
        }
    }
}


@media only screen and ( min-width: $mobile_breakpoint + 1px ) {
    @if ( 'cards' == $stack ) {
        .entry-tpl-otxtlist {
            margin-bottom: 20px;
        }
    }
}


.g1-collection-list-otxtlist {
    .g1-collection-item + .g1-collection-item {
        padding-top: 10px;
        border-width: 1px 0 0;

        border-style: solid;

        border-color: $skin_border_color;
    }
}