.g1-collection-listxxs-mod01 {
    .entry-tpl-grid {
        margin-bottom: 20px;
    }

    .entry-tpl-listxxs {
        margin-bottom: 0;
    }

    .g1-collection-item-listxxs + .g1-collection-item-listxxs {
        margin-top: 20px;
    }
}