.g1-collection-listxxs-mod13 {
    .entry-tpl-tile {
        margin-bottom: 20px;
    }
}

@media only screen and ( min-width: $mobile_breakpoint + 1px ) {
    .g1-collection-listxxs-mod13 {
        .g1-collection-viewport {
            @include display(flex);
        }

        .g1-module-big {
            width: percentage(1/3);

            position: relative;
        }

        .g1-module-small {
            width: percentage(1/3);
        }

        .entry-tpl-tile,
        .entry-tpl-tile .entry-featured-media,
        .entry-tpl-tile .g1-frame {
            position: absolute;
            #{$left}: 0;
            #{$right}: 0;
            top: 0;
            bottom: 0;
        }

        .entry-tpl-tile .g1-frame img {
            display: none;
        }
    }
}
