$color_accent_primary: #ff0036;
$color_accent_secondary: #ff8400;

$ui_border_radius: 0;
$button_border_radius: 0;
$box_border_radius: 0;
$avatar_border_radius: 0;
$badge_border_radius: 0;

// Typography.
$important_font_family: "Rajdhani", "Poppins", "Roboto", "Arial", sans-serif;
$important_2nd_font_family: "Rajdhani", "Poppins", "Roboto", "Arial", sans-serif;

$menu_font_size: 18px;
$menu_font_family: "Rajdhani", "Poppins", "Roboto", "Arial", sans-serif;
$drop_toggle_font_family: "Rajdhani", "Poppins", "Roboto", "Arial", sans-serif;
$menu_font_weight: 600;

$submenu_font_size: 15px;
$submenu_font_family: "Rajdhani", "Poppins", "Roboto", "Arial", sans-serif;
$submenu_font_weight: 500;





$meta_font_family: "Roboto", "Arial", sans-serif;
$ui_font_family: "Rajdhani", "Roboto", "Arial", sans-serif;
$regular_font_family: "Roboto", "Arial", sans-serif;



$mega_font_size: 60px;
$mega_line_height: 0.933;
$mega_font_weight: 900;
$mega_letter_spacing: -0.05em;

$alpha_font_size: 36px;
$alpha_line_height: 1;
$alpha_letter_spacing: -0.05em;


$beta_font_size: 30px;
$beta_line_height: 1.067;
$beta_letter_spacing: -0.05em;

$gamma_font_size: 26px;
$gamma_line_height: 1.067;
$gamma_font_weight: 700;
$gamma_letter_spacing: -0.025em;

$delta_font_size: 22px;
$delta_line_height: 1.067;
$delta_font_weight: 700;

$zeta_font_size: 13px;
$zeta_line_height: 13px;

$typo_2nd_letter_spacing: 0.1em;

// -3rd text classes.
$typo_3rd_font_weight: 500;


$button_font_family: "Rajdhani", "Roboto", "Arial", sans-serif;
$button_font_weight: 900;
$button_letter_spacing: 0.1em;



// Categories.
$categories_font_family: "Rajdhani", sans-serif;
$categories_font_weight: 700;

$categories_border_color: #000;
$categories_background_color: #000;
$categories_text_color: #fff;


$tabs_font_family: "Rajdhani", "Roboto", sans-serif;


// Entry counters.
$entry_counter_font_size: 24px;
$entry_counter_font_family: "Rajdhani", "Roboto", sans-serif;
$entry_counter_font_weight: 700;
$entry_counter_border_radius: 0;

// Badges.
$badge_position: 'bottom';