// Set LTR (Left to Right) direction
$dir: ltr;
$is_amp: false;
$skin: 'dark';
$stack: 'hardcore';
@import "../../lib.directional";

@import "../../settings";
@import "settings";

@import "../../base_woocommerce";