.entry-media-row-05 {
    max-width: $grid_width + $grid_gutter_width;

    > .g1-row-inner {
        max-width: none;

        > .g1-column {
            padding-#{$left}: 0;
            padding-#{$right}: 0;
        }
    }

    > .g1-row-background {
        background-color: $skin_background_color;

        > .g1-row-background-media {
            max-width: 100%;
            width: $grid_width - $grid_gutter_width;

            top: 0;
            bottom: auto;
            height: 400px;
        }
    }

    .g1-row-1 {
        max-width: $grid_width - $grid_gutter_width;
        height: 400px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0 auto;

        // Small gradient to add some bg/text contrast.
        > .g1-row-background {
            background-color: transparent;
            @include background-image(linear-gradient(to bottom, rgba(0,0,0, 0.333), rgba(0,0,0, 0.0) 60px));
        }
    }

    .g1-row-2 {
        margin: 0 auto;

        > .g1-row-inner {
            > .g1-column-2of3 {
                margin-#{$left}: 0;
                margin-#{$right}: 0;
                padding-top: 1.5rem;

                background-color: $skin_background_color;
            }
        }

        &:after {
            display: table;
            clear: both;
            content: "";
        }
    }

    .entry-before-title {
        @include display(flex);
        @include align-items(flex-end);

        position: absolute;
        #{$left}: $grid_gutter_width/2;
        #{$right}: $grid_gutter_width/2;
        bottom: 100%;
    }

    .entry-categories {
        margin-bottom: 0;
    }

    @if ( 'music' == $stack ) {
        .entry-category {
            background-color: $skin_background_color;
        }
    }

    .entry-flags {
        margin-#{$left}: auto;
        margin-bottom: -10px;
    }



    .entry-media-credit {
        padding: 0.333em 0;
    }

}
@media only screen and ( min-width: $mobile_breakpoint + 1px ) {
    .entry-media-row-05 {
        > .g1-row-inner {
            min-height: 66vh;

            > .g1-column {
                position: static;
            }
        }

        > .g1-row-background {
            > .g1-row-background-media {
                top: 0;
                bottom: 0;
                height: auto;
            }
        }

        .g1-row-1 {
            .g1-breadcrumbs {
                padding-#{$left}: $grid_gutter_width/2;
                padding-#{$right}: $grid_gutter_width/2;
            }
        }

        .g1-row-2 {
            position: absolute;
            z-index: 2;
            #{$left}: 0;
            #{$right}: 0;
            top: auto;
            bottom: 0;

            .g1-column-2of3 {
                width: calc( 66.666% + 45px );
            }

            .g1-column-1of3 {
                width: calc( 33.333% - 45px - 15px );

                position: absolute;
                z-index: 3;
                bottom: 0;
                #{$left}: auto;
                #{$right}: 15px;

                text-align: $right;

                background-color: rgba(0, 0, 0, 0.333);
                color: #fff;
            }
        }
    }
}


// csstodo
@if ( 'music' == $stack ) {
    .entry-tpl-overlay-boxed {
        > .g1-row + .g1-row {
            > .g1-row-inner > .g1-column > .entry-header {
                .entry-meta-m {
                    @include justify-content(space-between);
                }
            }
        }
    }
}
