$color_accent_primary: #ff8400;
$color_accent_secondary: #ff0036;

$ui_border_radius: 4px;
$box_border_radius: 0;
$avatar_border_radius: 0%;

$button_border_radius: 0;
$ui_border_radius: 0;

$menu_font_size: 16px;
$menu_font_family: "Roboto Condensed", "Arial", sans-serif;
$drop_toggle_font_family: "Roboto Condensed", "Arial", sans-serif;
$menu_font_weight: 400;

// Submenus.
$submenu_padding_horizontal: 30px;
$submenu_font_size: 12px;
$submenu_font_family: "Roboto", "Arial", sans-serif;
$submenu_font_weight: 400;
$submenu_letter_spacing: 0.1em;

$meta_font_family: "Roboto", "Arial", sans-serif;
$regular_font_family: "Roboto", "Arial", sans-serif;
$important_font_family: "Roboto", "Arial", sans-serif;
$important_2nd_font_family: "Roboto Condensed", "Arial", sans-serif;
$ui_font_family: "Roboto Condensed", "Roboto", "Arial", sans-serif;

$mega_font_size: 42px;
$mega_font_weight: 400;
$mega_letter_spacing: normal;

$alpha_font_size: 30.4981px;
$alpha_letter_spacing: 0em;
$alpha_font_weight: 500;

$beta_font_size: 26px;
$beta_letter_spacing: 0em;
$beta_font_weight: 500;

$gamma_font_size: 22px;
$beta_letter_spacing: 0em;
$gamma_font_weight: 500;

$delta_font_size: 18.8px;
$beta_letter_spacing: 0em;
$delta_font_weight: 500;

$zeta_font_size: 11px;
$zeta_letter_spacing: 0em;
$zeta_font_weight: 500;

$xl_font_size: 15px;
$xl_line_height: 28px;

$typo_2nd_font_weight: 400;
$typo_2nd_letter_spacing: 0.05em;

$typo_3rd_letter_spacing: normal;

$button_font_family:            "Roboto Condensed", sans-serif;
$button_font_weight:            600;
$button_letter_spacing:         0.1em;


// Categories.
$categories_font_size:          13px;
$categories_line_height:        16px;
$categories_font_family:        "Roboto", sans-serif;
$categories_font_weight:        400;
$categories_text_transform:     none;

$categories_padding: 3px 8px;
$categories_border_width: 0;
$categories_border_color:       transparent;
$categories_background_color:   transparent;

$tabs_font_size:                14px;
$tabs_font_family:              "Roboto Condensed", sans-serif;
$tabs_font_weight:              400;
$tabs_letter_spacing:           normal;



// MashShare.
$mash_gutter: 0;


// Back to top.
$back_to_top_font_size: 17px;
