@-webkit-keyframes loader-pulsate {
    from {
        border-color: #aaa;
        -webkit-box-shadow: 0 0 6px #ccc;
        box-shadow: 0 0 6px #ccc;
    }
    to {
        border-color: #ccc;
        -webkit-box-shadow: 0 0 6px #f8f8f8;
        box-shadow: 0 0 6px #f8f8f8;
    }
}
@-moz-keyframes loader-pulsate {
    from {
        border-color: #aaa;
        -moz-box-shadow: 0 0 6px #ccc;
        box-shadow: 0 0 6px #ccc;
    }
    to {
        border-color: #ccc;
        -moz-box-shadow: 0 0 6px #f8f8f8;
        box-shadow: 0 0 6px #f8f8f8;
    }
}


#buddypress {
    a.loading,
    input.loading {
        -webkit-animation: loader-pulsate .5s infinite ease-in-out alternate;
        -moz-animation: loader-pulsate .5s infinite ease-in-out alternate;
        border-color: #aaa;

        &:hover {
            color: #777;
        }
    }

    input[type="submit"].pending,
    input[type="button"].pending,
    input[type="reset"].pending,
    input[type="button"].disabled,
    input[type="reset"].disabled,
    button.pending,
    button.disabled,
    div.pending a,
    a.disabled {
        border-color: #eee;
        color: #bbb;
        cursor: default;

        &:hover {
            border-color: #eee;
            color: #bbb;
        }
    }
}

