.dir-search {
    float: $right;

    input {
        vertical-align: top;
    }

    input[type=submit] {
        margin-#{$left}: 2px; //plus white-space ~4px
    }

    .dir-form {
        clear: both;
    }

    .current-member-type {
        font-style: italic;
    }
}



.g1-bp-header-row {
    .entry-title {
        float: $left;
    }

    .dir-search {
        float: $right;
    }
}
.entry-content{
    #buddypress {
        #members-list {
            overflow:visible;
            .g1-collection-items{
                @include display(flex);
                @include flex-wrap(wrap);
            }
            li{
                padding:15px;
                border:none;
                @include display(flex);
                @include flex-direction(column);
                .g1-members-item{
                    @include display(flex);
                    @include flex-direction(column);
                    @include flex(auto);
                    border-width: 1px;

                    text-align:center;

                    border-style: solid;
                    @if ( 'app' == $stack ) {
                        border-radius: 6px;
                    }

                    border-color: $skin_border_color;


                    .item{
                        @include display(flex);
                        @include flex-direction(column);
                        @include flex(auto);
                    }
                    .item-cover{
                        width:100%;
                        height:145px;

                        @if ( 'app' == $stack ) {
                            border-top-#{$left}-radius: 6px;
                            border-top-#{$right}-radius: 6px;
                        }

                        background:#808080;
                        background-size:auto 100%;
                        background-position:center;
                    }
                    .item-avatar{
                        float:none;
                        margin:0 auto;
                        margin-top:-45px;
                        display:inline-block;
                        background:white;
                        border-radius:100px;
                        padding:5px;
                        width: 80px;
                        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1); 
                        position: relative;
                        .avatar{
                            display:block;
                        }
                        .author-info-rank{
                            position: absolute;
                            max-height:40px;
                            #{$right}:-35px;
                            bottom:5px;
                        }
                    }
                    .item-title{
                        width:auto;
                        font-size:21px;
                        font-weight:600;
                        padding-left:30px;
                        padding-right:30px; 
                        margin-top: 0.75rem; 
                    }
                    .item-desc{
                        margin:0;
                        width:auto;
                        font-size:16px;
                        padding-left:30px;
                        padding-right:30px;
                        @include flex(auto);
                    }
                    .row{
                        padding-left:30px;
                        padding-right:30px;  
                    }
                    .item-counters{
                        @include display(flex);
                        margin-top: 1rem;
                        background: $skin_background_tone_color;
                    }
                    .item-counters-counter{
                        @include flex-grow(1);
                        @include flex-shrink(1);
                        @include flex-basis(0);
                        text-align: center;
                        padding:10px 0;
                    }
                    .item-counters-counter-value{
                        font-size:18px;
                        font-weight:600;
                        font-family: "Poppins", "Roboto", sans-serif;
                        color: $skin_important_text_color;
                    }
                    .g1-socials-bp-profile-collection{
                        padding-left:30px;
                        padding-right:30px;

                        .g1-socials-item-icon{
                            margin-top: 16px;
                            margin-bottom: 16px;

                            font-size: 22px;

                            opacity: 0.333;

                            @include transition(
                                opacity 0.375s ease-in-out
                            );

                            &:hover {
                                opacity: 0.999;
                            }
                        }
                    }
                    #mycred-users-badges{
                        margin-top:16px;
                    }
                    .mycred-badge-image {
                        width:40px;
                        height:auto;
                        padding:0 3px;
                    }
                }
            }
        }
    }
}
@media only screen and ( max-width: 600px ) {
    .g1-socials-bp-profile-collection,
    .row,
    .item-desc,
    .item-title{
        padding-left:10px;
        padding-right:10px;
    }
}

@media only screen and ( max-width: 1024px ) {
    .g1-socials-bp-profile-collection,
    .row,
    .item-desc,
    .item-title{
        padding-left:20px;
        padding-right:20px;
    }
}
