.woocommerce-MyAccount-navigation {
    > ul {
        margin: 0 0 1.5rem;
        list-style: none;

        font-size: 14px;
        line-height: 16px;
        font-family: $menu_font_family;
        font-weight: $menu_font_weight;
        text-transform: uppercase;
    }

    .woocommerce-MyAccount-navigation-link {
        padding: 4px 0;
        margin-#{$right}: 10px;
        color: $skin_regular_text_color;

        > a {
            color: inherit;
        }
    }

    .woocommerce-MyAccount-navigation-link:hover,
    .is-active {
        color: $skin_important_text_color;
    }
}


@media only screen and ( max-width: $mobile_breakpoint ) {
    .woocommerce-account {
        .woocommerce-MyAccount-navigation-link {
            display: inline-block;
            vertical-align: top;
        }
    }
}

@media only screen and ( min-width: $mobile_breakpoint + 1px ) {
    .woocommerce-account {
        &:after {
            display: table;
            clear: both;
            content: "";
        }

        .woocommerce-MyAccount-navigation {
            float: $left;
            width: 30%;
        }

        .woocommerce-MyAccount-content {
            float: $right;
            width: 68%;
        }
    }
}