$color_accent_primary: #ff0036;
$color_accent_secondary: #ff8400;

$ui_border_radius: 4px;
$box_border_radius: 0;
$avatar_border_radius: 50%;


$important_font_family: "Poppins", "Roboto", sans-serif;
$important_2nd_font_family: "Poppins", "Roboto", sans-serif;

$menu_font_size: 16px;
$menu_font_family: "Poppins", "Roboto", sans-serif;
$drop_toggle_font_family: "Poppins", "Roboto", sans-serif;
$menu_font_weight: 700;
$submenu_font_family: "Poppins", "Roboto", sans-serif;
$submenu_font_weight: 500;

$meta_font_family: "Poppins", "Roboto", sans-serif;
$ui_font_family: "Poppins", "Roboto", sans-serif;
$regular_font_family: "Roboto", sans-serif;

$badge_size: 30px;
$badge_font_size: 20px;
