$skin: 'light';

$is_amp: false;
@import "../../settings";
@import "settings";


$support_media_queries: true;
$use_mobile_first: true;
$stack: 'app';


// Set LTR (Left to Right) direction
$dir: ltr;
@import "../../lib.directional";


@import "../../base";