$grid_width:        1280px;
$grid_gutter_width: 20px;


$ui_border_radius: 0;
$box_border_radius: 0;
$avatar_border_radius: 50%;


$important_font_family: "Amethysta", sans-serif;
$important_2nd_font_family: "SpartanMB", sans-serif;


// Menu
$menu_font_size:        13px;
$menu_font_family:      "SpartanMB", sans-serif;
$drop_toggle_font_family:      "SpartanMB", sans-serif;
$menu_font_weight:      700;
$menu_letter_spacing:   0.2em;


// Submenu
$submenu_font_size: 12px;
$submenu_font_family: "SpartanMB", sans-serif;
$submenu_font_weight: 400;
$submenu_text_transform: none;
$submenu_letter_spacing: normal;

$typo_2nd_letter_spacing: 0.4em;
$typo_2nd_font_weight: 900;


$giga_font_size: 44px;
$giga_line_height: 48/44;
$giga_font_weight: 400;
$giga_letter_spacing: 0;

$mega_font_size: 36px;
$mega_line_height: 40/36;
$mega_font_weight: 400;
$mega_letter_spacing: 0;

$alpha_letter_spacing: 0;
$alpha_font_weight: 400;

$beta_letter_spacing: 0;
$beta_font_weight: 400;

$gamma_font_size: 19px;
$gamma_line_height: 23/19;
$gamma_font_weight: 400;
$gamma_letter_spacing: 0;

$delta_font_size: 16px;
$delta_line_height: 20/16;
$delta_font_weight: 400;
$delta_letter_spacing: 0;

$epsilon_letter_spacing: 0;
$epsilon_font_weight: 400;

$zeta_font_size: 11px;
$zeta_line_height: 14/11;
$zeta_font_weight: 400;
$zeta_letter_spacing: 0;


$meta_font_size: 11px;
$meta_font_family: "SpartanMB", sans-serif;
$meta_text_transform: none;

// Categories.
$categories_font_size: 11px;
$categories_line_height: 16px;
$categories_font_family: "SpartanMB", sans-serif;
$categories_font_weight: 700;
$categories_letter_spacing: 0.2em;
$categories_text_transform: uppercase;
$categories_padding: 3px 8px;
$categories_border_width: 0;
$categories_border-color:       $skin_reverse_background_color;
$categories_background_color:   $skin_reverse_background_color;
$categories_text_color:         $skin_reverse_important_text_color;



$button_font_family: "SpartanMB", sans-serif;
$button_font_weight: 900;
$button_letter_spacing: 0.1em;
$button_xs_font_size:   9px;
$button_s_font_size:    11px;
$button_m_font_size:    13px;
$button_l_font_size:    15px;
$button_xl_font_size:   17px;
$button_border_radius:  0;


$entry_counter_font_family:     "SpartanMB", sans-serif;
$entry_counter_font_weight:     400;
$entry_counter_font_weight:     400;
$entry_counter_border_radius:   0;

// Tabs
$tabs_font_size:        13px;
$tabs_font_family:      "SpartanMB", sans-serif;
$tabs_font_weight:      900;
$tabs_text_transform:   uppercase;
$tabs_letter_spacing:   0.1em;

// MashShare
$mash_gutter: 0;

$ui_font_family: "Roboto", sans-serif;

$regular_font_family: "Roboto", sans-serif;


$badge_font_size: 16px;
$badge_border_radius: 0;


@if  ( $is_amp ) {
} @else {
    @font-face {
        font-family: "SpartanMB";
        src: url('./../../../spartanmb/spartanmb-regular.eot');
        src: url('./../../../spartanmb/spartanmb-regular.eot?#iefix') format('embedded-opentype'),
            url('./../../../spartanmb/spartanmb-regular.woff') format('woff'),
            url('./../../../spartanmb/spartanmb-regular.ttf') format('truetype'),
            url('./../../../spartanmb/spartanmb-regular.svg#SpartanMB-Regular') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: "SpartanMB";
        src: url('./../../../spartanmb/spartanmb-light.eot');
        src: url('./../../../spartanmb/spartanmb-light.eot?#iefix') format('embedded-opentype'),
            url('./../../../spartanmb/spartanmb-light.woff') format('woff'),
            url('./../../../spartanmb/spartanmb-light.ttf') format('truetype'),
            url('./../../../spartanmb/spartanmb-light.svg#SpartanMB-Light') format('svg');
        font-weight: 300;
        font-style: normal;
    }

    @font-face {
        font-family: "SpartanMB";
        src: url('./../../../spartanmb/spartanmb-bold.eot');
        src: url('./../../../spartanmb/spartanmb-bold.eot?#iefix') format('embedded-opentype'),
            url('./../../../spartanmb/spartanmb-bold.woff') format('woff'),
            url('./../../../spartanmb/spartanmb-bold.ttf') format('truetype'),
            url('./../../../spartanmb/spartanmb-bold.svg#SpartanMB-Bold') format('svg');
        font-weight: 700;
        font-style: normal;
    }

    @font-face {
        font-family: "SpartanMB";
        src: url('./../../../spartanmb/spartanmb-extrabold.eot');
        src: url('./../../../spartanmb/spartanmb-extrabold.eot?#iefix') format('embedded-opentype'),
            url('./../../../spartanmb/spartanmb-extrabold.woff') format('woff'),
            url('./../../../spartanmb/spartanmb-extrabold.ttf') format('truetype'),
            url('./../../../spartanmb/spartanmb-extrabold.svg#SpartanMB-ExtraBold') format('svg');
        font-weight: 800;
        font-style: normal;
    }
}
