.entry-tpl-grid-module {
    position: relative;
    width:100%;

    @if( 'miami' == $stack ) {
        margin-bottom: 60px;
    } @else {
        margin-bottom: 30px;
    }

    .entry-featured-media {
        @if ( 'bunchy' == $stack ) {
            margin-bottom:12px;
        } @else{
            margin-bottom: 0;
        }
    }

    @if ( 'top' == $badge_position ) {
        .entry-flags {
            padding: 0 10px;
            margin-bottom: 10px;

            position: absolute;
            z-index: 3;
            @if ( 'bunchy' == $stack ) {
                #{$left}: auto;
                #{$right}: 0;
                top: 10px;
            } @else{
                top: -10px;
                #{$left}: 0;
                #{$right}: auto;
            }
        }

        .entry-flags:first-child {
            position: relative;
        }

    } @else {
        .entry-flags {
            position: absolute;
            z-index: 3;
            @include translateY(-100%);
            margin-bottom: 0;
        }
    }

    .entry-header {
        position: relative;
    }

    .entry-before-title {
        @include box-sizing( border-box );

        @if ( 'bunchy' != $stack ) {
            font-size: 0;
        }

        .entry-categories,
        .entry-categories-inner {
            display: inline; // AMP !important;
            float: none; // AMP !important;
            clear: none; // AMP !important;
            vertical-align: middle; // AMP !important;
        }
    }

    .entry-featured-media ~ .entry-body .entry-before-title {
        @include box-sizing( border-box );
        @if ( 'bunchy' != $stack ) {
            position: absolute;
        }
        #{$left}: 0;
        #{$right}: 0;
        bottom: 100%;
    }

    @if ( 'bottom' == $badge_position ) {
        .entry-featured-media + .entry-flags + .entry-body .entry-before-title {
            padding-#{$left}: $badge_size;
        }
    }

    .entry-stats {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
    }

    .entry-categories {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;

        @if ( 'bunchy' != $stack ) {
            font-size: 0;
        }
    }

    .entry-title {
        padding-top: 0.75em;
        margin-bottom: 0.75em;
    }

    .g1-button {
        float: $right;
        margin-bottom: 15px;
    }
}

.entry-tpl-grid-module-l {
    position: relative;
    width:100%;

    @if( 'miami' == $stack ) {
        margin-bottom: 60px;
    } @else {
        margin-bottom: 30px;
    }

    .entry-featured-media {
        @if ( 'bunchy' == $stack ) {
            margin-bottom:12px;
        } @else{
            margin-bottom: 0;
        }
    }

    @if ( 'top' == $badge_position ) {
        .entry-flags {
            padding: 0 10px;
            margin-bottom: 10px;

            position: absolute;
            z-index: 3;
            @if ( 'bunchy' == $stack ) {
                #{$left}: auto;
                #{$right}: 0;
                top: 10px;
            } @else{
                top: -10px;
                #{$left}: 0;
                #{$right}: auto;
            }
        }

        .entry-flags:first-child {
            position: relative;
        }

    } @else {
        .entry-flags {
            position: absolute;
            z-index: 3;
            @include translateY(-100%);
            margin-bottom: 0;
        }
    }

    .entry-header {
        position: relative;
    }

    .entry-before-title {
        @include box-sizing( border-box );

        @if ( 'bunchy' != $stack ) {
            font-size: 0;
        }

        .entry-categories,
        .entry-categories-inner {
            display: inline; // AMP !important;
            float: none; // AMP !important;
            clear: none; // AMP !important;
            vertical-align: middle; // AMP !important;
        }
    }

    .entry-featured-media ~ .entry-body .entry-before-title {
        @include box-sizing( border-box );
        @if ( 'bunchy' != $stack ) {
            position: absolute;
        }
        #{$left}: 0;
        #{$right}: 0;
        bottom: 100%;
    }

    @if ( 'bottom' == $badge_position ) {
        .entry-featured-media + .entry-flags + .entry-body .entry-before-title {
            padding-#{$left}: $badge_size;
        }
    }

    .entry-stats {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
    }

    .entry-categories {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;

        @if ( 'bunchy' != $stack ) {
            font-size: 0;
        }
    }

    .entry-title {
        padding-top: 0.75em;
        margin-bottom: 0.75em;
    }

    .g1-button {
        float: $right;
        margin-bottom: 15px;
    }
}

.g1-module-01{
    .g1-module-item{
        width: 100%;
    }
}

@media only screen and ( min-width: 481px ) and (max-width: 800px) {
    .g1-module-01{
        .g1-module-column{
            display:flex;
        }
        .g1-module-item{
            width: percentage(1/2);
        }
        .g1-module-item-1{
            width:100%;
        }
        .g1-module-item-2,
        .g1-module-item-4{
            padding-#{$right}:15px;
        }
        .g1-module-item-3,
        .g1-module-item-5{
            padding-#{$left}:15px;
        }
    }
}

@media only screen and ( min-width: 801px ) {
    .g1-module-01{
        display:flex;
        .g1-module-column{
            width: percentage(1/4);
        }
        .g1-module-column:nth-child(2){
            padding-#{$right}: 30px;
        }
        .g1-module-column:nth-child(3){
            @include order(3);
            padding-#{$left}: 30px;
            .entry-tpl-grid-module{
                float: $right;
            }
        }
        .g1-module-item-1{
            width: percentage(1/2);
            @include order(2);
            .entry-body{
                position: absolute;
                bottom: 0px;
                background: #fff;
                width:calc(100% - 30px);
            }
        }
    }
}
