$skin: 'light';
$is_amp: false;

@import "../../settings";
@import "settings";

$stack: 'cards';


@import "../../compass/css3";


// Set LTR (Left to Right) direction
$dir: ltr;
@import "../../lib.directional";




@import "../../snax/all";