$grid_gutter_width: 20px;


$ui_border_radius: 4px;
$box_border_radius: 0;
$avatar_border_radius: 50%;


$important_font_family: "Fira Sans Condensed", sans-serif;
$important_2nd_font_family: "Fira Sans Condensed", sans-serif;


// Menu
$menu_font_family: "Fira Sans Condensed", sans-serif;
$drop_toggle_font_family: "Fira Sans Condensed", sans-serif;
$menu_font_weight: normal;
$menu_font_size: 18px;
$menu_letter_spacing: normal;

// Submenu
$submenu_font_size: 13px;
$submenu_font_family: "Fira Sans Condensed", sans-serif;
$submenu_font_weight: 400;
$submenu_text_transform: none;
$submenu_letter_spacing: 0.05em;

$typo_2nd_text_transform: none;
$typo_2nd_font_weight: 800;

$giga_font_size: 44px;
$giga_line_height: 48/44;
$giga_letter_spacing: 0;

$mega_font_size: 36px;
$mega_line_height: 40/36;
$mega_letter_spacing: 0;

$alpha_letter_spacing: 0;

$beta_letter_spacing: 0;

$gamma_font_size: 21px;
$gamma_line_height: 24/21;
$gamma_letter_spacing: 0;

$delta_font_size: 16px;
$delta_line_height: 20/16;
$delta_letter_spacing: 0;

$epsilon_letter_spacing: 0;

$zeta_font_size: 11px;
$zeta_line_height: 14/11;
$zeta_letter_spacing: 0;


$meta_font_size: 13px;
$meta_font_family: "Fira Sans", sans-serif;
$meta_font_weight: 400;

// Categories.
$categories_font_size: 12px;
$categories_line_height: 16px;
$categories_font_family: "Fira Sans Condensed", sans-serif;
$categories_font_weight: 500;
$categories_text_transform: uppercase;
$categories_border-color: $skin_important_text_color;
$categories_background_color: transparent;
$categories_text_color: $skin_important_text_color;

$categories_padding: 1px 7px;
$categories_border_width: 2px;


$button_font_family: "Fira Sans Condensed", sans-serif;
$button_xs_font_size:   9px;
$button_s_font_size:    11px;
$button_m_font_size:    13px;
$button_l_font_size:    15px;
$button_xl_font_size:   17px;

// Tabs
$tabs_font_size:        13px;
$tabs_font_family:      "Fira Sans Condensed", sans-serif;
$tabs_font_weight:      700;
$tabs_text_transform:   uppercase;
$tabs_letter_spacing:   normal;


$badge_border_radius: 0;


$entry_counter_font_weight: 400;
$entry_counter_border_radius: 0;


$ui_font_family: "Fira Sans Condensed", sans-serif;

$regular_font_family: "Fira Sans", sans-serif;
