$skin: 'light';

$is_amp: false;
@import "../../settings";
@import "settings";

$support_media_queries: true;
$use_mobile_first: true;
$stack: 'carmania';


// Set RTL (Right to Left) direction
$dir: rtl;
@import "../../lib.directional";

@import "../../base";