$skin: 'dark';

$is_amp: true;
@import "../../settings";
@import "settings";


$support_media_queries: true;
$use_mobile_first: true;
$stack: 'original';


// Set LTR (Left to Right) direction
$dir: ltr;
@import "../../lib.directional";


@import "../../base_amp";