$grid_gutter_width: 60px;


$ui_border_radius: 0;
$box_border_radius: 0;
$avatar_border_radius: 0;

$badge_size: 52px;
$badge_font_size: 32px;
$badge_border_radius: 0;


// Typography.
$mega_font_weight: 900;
$mega_letter_spacing: 0;



$important_font_family: "Roboto", "Arial", sans-serif;
$important_2nd_font_family: "Roboto", "Arial", sans-serif;

$menu_font_size: 20px;
$menu_font_family: "Roboto", "Arial", sans-serif;
$drop_toggle_font_family: "Roboto", "Arial", sans-serif;
$menu_font_weight: 600;

$submenu_padding_horizontal: 30px;

$meta_font_family: "Roboto", "Arial", sans-serif;
$ui_font_family: "Roboto", "Arial", sans-serif;
$regular_font_family: "Roboto", "Arial", sans-serif;


$gamma_letter_spacing: 0em;
$gamma_font_weight: 500;


// Buttons.
$button_font_family: "Roboto", sans-serif;
$button_font_weight: 900;

// Categories.
$categories_font_family: "Roboto", sans-serif;
$categories_font_weight: 400;

// Tabs
$tabs_font_family: "Roboto", sans-serif;

// Badges.
$badge_position: 'bottom';

// Entry counters.
$entry_counter_font_size: 30px;
$entry_counter_font_family: "Rubik", "Roboto", sans-serif;
$entry_counter_font_weight: 900;
$entry_counter_border_radius: 0;


// MashShare
$mash_gutter: 0;

// Frame icons
$frame_icon_large_size: 96px;
$frame_icon_large_font_size: 30px;


// Categories.
$categories_padding: 0 9px 3px;
$categories_border_width: 3px 0 0;
$categories_background_color: $skin_background_color;