// Set RTL (Right to Left) direction
$dir: rtl;
$stack: 'miami';
$is_amp: false;
$skin: 'dark';
@import "../../lib.directional";

@import "../../settings";
@import "settings";

@import "../../base_woocommerce";